:root {
    --text-color: rgb(0, 0, 0);
    --background-color: rgb(247, 247, 247);
    --accent-color: rgb(132, 100, 3);
}


body {
    margin: 0;
    /* 구글 폰트 Hahmlet적용 */
    font-family: 'Hahmlet', serif;
}

a {
    /* a 태그의 밑줄 데코레이션을 없앤다 */
    text-decoration: none;
    /* a 태그의 하늘색 글씨를 바꾼다 . */
    color: var(--text-color);
}

a:hover {
    /* a 태그에 마우스를 올렸을 때, 글씨 색상을 지정해준다. */
    color: rgb(153, 152, 152);
}




.feedimg {
    background-color: rgb(198, 198, 198);
    background-image: url("https://i.ibb.co/6tLH2FB/image.jpg");
    background-position: center;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;

    height: 700px;
}

.season-introbox {
    background: rgba(255, 255, 255, 0.6);

    width: 40%;
    height: 35%;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.season-title {
    font-size: 30px;
    text-align: center;
}

.season-inputbox {
    width: 23%;
    height: 18%;

    display: flex;
    flex-direction: row;

    font-size: 17px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
}

#season-input {
    padding: 2%;

    width: 120px;
    height: 35px;

    border: 0px;
    background-color: gray;
    color: white;
}

#season-input:hover {
    background-color: rgb(189, 189, 189);
    color: rgb(0, 0, 0);
}

.product-intro-container {
    display: block;
    text-align: center;
}

.product-intro-title {
    display: block;
}

.intro-name {
    font-size: 13px;
    display: inline-block;

    width: 80px;
    height: 20px;

    background-color: gray;
    text-align: center;

    margin-bottom: 1%;
}

.product-container {
    width: 96%;
    height: 700px;

    margin: 0% 0% 2% 0%;
    display: flex;
    flex-direction: row;
    overflow: scroll;
    /* 가로 스크롤 */
    overflow: auto;
    white-space: pre-wrap;

}

.productcontainer::-webkit-scrollbar {
    display: none;
}

.cardbox {
    margin-left: 4%;
}

.card-img-top {
    width: 300px;
    height: 400px;
    object-fit: cover;
}
